@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background: #1a1a1a;
    font-family: 'Fredoka One', cursive; /* Oyunsu, yuvarlak font */
}

#ui-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Tıklamalar oyuna geçsin diye */
    z-index: 10;
}

#score-board {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #ffd700;
    text-shadow: 2px 2px 0 #000;
}

#start-screen, #game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: auto;
}

h1 {
    font-size: 60px;
    color: #fff;
    text-shadow: 4px 4px 0 #ff4757;
    margin-bottom: 10px;
    animation: bounce 1s infinite alternate;
}

button {
    background: #2ed573;
    border: 4px solid #fff;
    padding: 15px 40px;
    font-size: 24px;
    color: white;
    font-family: 'Fredoka One', cursive;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 10px 0 #218c74;
    transition: all 0.1s;
}

button:active {
    box-shadow: 0 0 0 #218c74;
    transform: translateY(10px);
}

.hidden { display: none; }

@keyframes bounce {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
